title {
  background-color: #ffffff !important;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg);
  max-width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

:root {
  --bg: #1b1b1b;
  --bg-secondary: #242424;
  --bg-accent: #414141;
  --text-colour: #ffffff;
  --text-size: 0.9rem;
  --line-height: 1.25rem;
  --font-family: 'Fira Code', monospace;
}

#titlebar {
  height: 35px;
  background: var(--bg);
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  -webkit-app-region: drag;
}

#logo {
  height: 60%;
  padding: 0.5rem;
}

#nav-buttons {
  display: flex;
  padding: 0;
}

.nav-button {
  display: flex;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: var(--text-size);
  -webkit-app-region: no-drag;
}

.nav-button:hover {
  background-color: #2b2b2b;
  cursor: default;
}

#editor {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

#line-numbers {
  background-color: var(--bg-secondary);
  color: var(--text-colour);
  font-size: var(--text-size);
  line-height: var(--line-height);
  text-align: right;
  border: none;
  resize: none;
  padding: 5px 5px 15px 0px;
  width: 50px;
  overflow: hidden;
  z-index: 100;
}

#text-input, #output {
  width: calc(100% - 55px);
  height: 100%;
  left: 55px;
  position: absolute;
  background-color: var(--bg-secondary);
  color: rgb(127, 193, 255);
  font-family: var(--font-family) !important;
  font-size: var(--text-size);
  line-height: var(--line-height);
  caret-color: var(--text-colour);
  white-space: nowrap;
  box-sizing: border-box;
  padding: 5px;
  border: none;
  resize: none; 
  overflow-x: auto;
}

#text-input {
  color: transparent;
  background-color: transparent;
}

#output {
  pointer-events: none !important;
  white-space: pre;
}

#stats {
  position: relative;
  background-color: var(--bg);
  font-family: var(--font-family);
  font-size: var(--text-size);
  color: var(--text-colour);
  padding: .25rem;
  width: 100%;
}

#right-stats {
  float: right;
  margin-right: 10px;
}

textarea:focus {
  outline: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-colour);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
  border-radius: 10px;
}

/* Syntax Highlighting */

.keyword {
  color: #5480dd;
}

.comment {
  color: #7cd466;
}

.number {
  color: #9e37ff;
}

.string {
  color: #da8638;
}

.bracket {
  color: #ffee00;
}

.operator {
  color: #e2e2e2;
}