body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: var(--bg);
  max-width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

:root {
  --bg: #1b1b1b;
  --bg-secondary: #242424;
  --text-colour: #ffffff;
  --text-size: 12px;
}

#editor {
  display: flex;
  width: 100%;
  height: 100%;
}

#line-numbers {
  background-color: var(--bg-secondary);
  color: var(--text-colour);
  font-size: var(--text-size);
  text-align: right;
  border: none;
  resize: none;
  padding: 5px 5px;
  width: 40px;
  overflow: hidden;
}

#text-input {
  width: 100%;
  height: 100%;
  font-size: var(--text-size);
  color: var(--text-colour);
  background-color: var(--bg);
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  border: none;
  resize: none; 
}

textarea:focus {
  outline: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--text-colour);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
  border-radius: 10px;
}
